.c-footer {
  clear: both;
  font-size: rem(14px);

  @include mq(tablet) {
    font-size: rem(16px);
  }
}

.c-footer__main {
  border-top: 1px solid $shoppe_neutral_secondary_color;
  padding: 2rem 0 4rem;
}

.c-footer__copyright {
  color: $shoppe_neutral_primary_color;
}

.s-footer-copyright {
  text-align: left;

  @include mq(tablet) {
    text-align: right;
  }

  p {
    margin: 0;
  }

  a {
    color: $shoppe_neutral_primary_color;
    text-decoration: underline;

    &:hover {
      color: $shoppe_headings_color;
    }
  }
}

.c-footer__widget {
  margin-bottom: rem(48px);

  @include mq(desktop) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
