.c-search-form {
  position: relative;
}

.c-search-form__label__field {
  border: none;
  border-bottom: 1px solid $shoppe_neutral_secondary_color;
  background-color: transparent;
  font-size: 1.5rem;
  padding: rem(12px 3px);


  @include mq(tablet) {
    width: 100%;
    max-width: 100%;
    font-size: 4rem;

    &::placeholder {
      font-size: 4rem;
    }
  }
}

.c-search-form__submit {
  border: none;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  padding: 0;

  &:hover {

    .c-search-form__submit__icon {
      fill: $shoppe_branding_color;
    }
  }
}


.c-search-form__submit__icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: $shoppe_neutral_primary_color;
  transition: $shoppe_global_transition;
}

.c-widget.widget_search, .c-widget.woocommerce.widget_product_search {
  .c-search-form__submit__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .c-search-form__submit {
    padding-right: 0;
    width: 1.7rem;
    height: 1.7rem;
  }

  .c-search-form__label__field {
    @include mq(tablet) {

      &::placeholder {
        font-size: inherit;
      }
    }
  }
}


// Inside Widget
.c-widget .c-search-form {

  .c-search-form__label__field {
    border: none;
    border-bottom: 1px solid $shoppe_neutral_secondary_color;
    background-color: transparent;
    font-size: 1rem;
    padding: rem(12px 3px);

    @include mq(tablet) {
      width: 100%;
      max-width: 100%;
    }
  }

  .c-search-form__submit {
    border: none;
    background-color: transparent;
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;

    @include mq(desktop) {
      width: 3rem;
      height: 3rem;
    }

    &:hover {

      .c-search-form__submit__icon {
        fill: $shoppe_branding_color;
      }
    }
  }

}

.rtl {

  .c-search-form__submit {
    right: unset !important;
    left: 0 !important;
    padding-right: rem(16px);
    padding-left: 0;
  }
}
