.c-social-share {
  display: flex;
  flex-direction: row;
  min-height: 20px;
  justify-content: flex-start;
  align-items: center;

  span {
    margin-right: 24px;
  }
}

.c-social-share__link {
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin-right: rem(20px);

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    .c-social-share__link__icon {
      fill: $shoppe_branding_color;
    }
  }
}

.c-social-share__link__icon {
  fill: $shoppe_neutral_primary_color;
}

.c-social-share__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: var(--heading-typography-variant);
}


.rtl {
  .c-social-share__link {
    margin-right: 1.25rem;

    &:first-child {
      margin-right: 0;
    }
  }
}
